.mainn {
  /* background-color: grey; */
  height: 100vh;
}
.residence {
  /* background-color: grey; */
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
  
}
/* Div styling */
.left {
  /* background-color: peachpuff; */
  text-align: center; 
  padding: 50px; 
}
.right-side-residence{
  /* background: pink; */
  width: 600px;
  
}
.aptview{
  height: 100vh;
}
.forstyle{
  margin-top: 100px;
}

/* STYLING OF RESIDENCE HOMEPAGE */
.section2 {
  /* background-color: pink; */
  display: flex;
  height: 100vh;
}
.residence-left {
  background-color: pink;
  width: 400px;
}
.residence-right {
  background-color: peachpuff;
}
.viewsample{
  width: 100vh;
  height: 100vh;
}
