.left{
    background-color: peachpuff;
}
.right{
    background-color: pink;
}
.gym-container{
background: pink;
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/b1/0f/0f/b10f0fd7906f9421b0c68b8d2817f9a1.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

