.homepage {
  /* background-color: pink; */
  height: 100vh;
  width: 100%;
  background-image: url("https://i.pinimg.com/564x/1c/6a/cd/1c6acd5d2eb8830c198b1b763ca186f5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.explore {
  border: none;
}

@font-face {
  font-family: "Paragone";
  src: url(/paragone-luxury-serif-font/Paragone/Paragone.ttf);
}
@font-face {
  font-family: "Paragone2";
  src: url(/paragone-luxury-serif-font/Paragone/Paragone.otf);
}
h1 {
  font-family: "Paragone", sans-serif;
}
h3 {
  font-family: "Paragone2";
}
.logo {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-top: 20px;
}
.main-body{
  margin-top: 30px;
  margin-left: 50px;
  color: white;
}
/* EXplore more section */
.scroller{
  /* background: pink; */
  text-align: center;
  height: 50px;
  font-size: 20px;
  font-size: 'Paragone';
}
.explore{
  font-size: 20px;
  background: white; 
}
.riverside{
  /* background: pink; */
  text-align: right;
  font-size: 16px;
  /* position: absolute; */
}